In [1]:
library(magrittr)
library(tidyverse)
library(readxl)
library(kableExtra)
library(summarytools)
library(gtsummary)
library(ggpubr)
library(ggcorrplot) #montar gráficos da matriz de correlação
#library(Hmisc) #montar matriz de correlação

── Attaching packages ───────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────── tidyverse 1.3.1 ──

✔ ggplot2 3.3.3     ✔ purrr   0.3.4
✔ tibble  3.1.1     ✔ dplyr   1.0.6
✔ tidyr   1.1.3     ✔ stringr 1.4.0
✔ readr   1.4.0     ✔ forcats 0.5.1

── Conflicts ──────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────── tidyverse_conflicts() ──
✖ tidyr::extract()   masks magrittr::extract()
✖ dplyr::filter()    masks stats::filter()
✖ dplyr::lag()       masks stats::lag()
✖ purrr::set_names() masks magrittr::set_names()


Attaching package: ‘kableExtra’


The following object is masked from ‘package:dplyr’:

    group_rows


Warning message:
“sem variável DISPLAY então Tk não está disponível”
system might not have X11 capabilities; in case of errors when using dfSummary(), set st_options(use.x11 = FALSE)

For best results, restart R session and update pander using devtools:: or remotes::install_github('rapporter/pander')


Attaching package: ‘summarytools’


The following object is masked from ‘package:tibble’:

    view


#BlackLivesMatter

In [2]:
teams <- read_csv("../dataset/teams.csv")
games <- read_csv("../dataset/games.csv")

── Column specification ──────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────
cols(
  LEAGUE_ID = col_character(),
  TEAM_ID = col_double(),
  MIN_YEAR = col_double(),
  MAX_YEAR = col_double(),
  ABBREVIATION = col_character(),
  NICKNAME = col_character(),
  YEARFOUNDED = col_double(),
  CITY = col_character(),
  ARENA = col_character(),
  ARENACAPACITY = col_double(),
  OWNER = col_character(),
  GENERALMANAGER = col_character(),
  HEADCOACH = col_character(),
  DLEAGUEAFFILIATION = col_character()
)



── Column specification ──────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────
cols(
  .default = col_double(),
  GAME_DATE_EST = col_date(format = ""),
  GAME_STATUS_TEXT = col_character()
)
ℹ Use `spec()` for the full column specifications.

In [3]:
glimpse(teams)
glimpse(games)

Rows: 30
Columns: 14
$ LEAGUE_ID          <chr> "00", "00", "00", "00", "00", "00", "00", "00", "00…
$ TEAM_ID            <dbl> 1610612737, 1610612738, 1610612740, 1610612741, 161…
$ MIN_YEAR           <dbl> 1949, 1946, 2002, 1966, 1980, 1976, 1967, 1970, 194…
$ MAX_YEAR           <dbl> 2019, 2019, 2019, 2019, 2019, 2019, 2019, 2019, 201…
$ ABBREVIATION       <chr> "ATL", "BOS", "NOP", "CHI", "DAL", "DEN", "HOU", "L…
$ NICKNAME           <chr> "Hawks", "Celtics", "Pelicans", "Bulls", "Mavericks…
$ YEARFOUNDED        <dbl> 1949, 1946, 2002, 1966, 1980, 1976, 1967, 1970, 194…
$ CITY               <chr> "Atlanta", "Boston", "New Orleans", "Chicago", "Dal…
$ ARENA              <chr> "State Farm Arena", "TD Garden", "Smoothie King Cen…
$ ARENACAPACITY      <dbl> 18729, 18624, NA, 21711, 19200, 19099, 18104, 19060…
$ OWNER              <chr> "Tony Ressler", "Wyc Grousbeck", "Tom Benson", "Jer…
$ GENERALMANAGER     <chr> "Travis Schlenk", "Danny Ainge", "Trajan Langdon", …
$ HEADCOACH          <chr> "Lloyd Pierce", "Brad Stevens", "Alvin Gentry", "Ji…
$ DLEAGUEAFFILIATION <chr> "Erie Bayhawks", "Maine Red Claws", "No Affiliate",…
Rows: 24,195
Columns: 21
$ GAME_DATE_EST    <date> 2021-03-21, 2021-03-21, 2021-03-21, 2021-03-21, 2021…
$ GAME_ID          <dbl> 22000645, 22000016, 22000646, 22000167, 22000647, 220…
$ GAME_STATUS_TEXT <chr> "Final", "Final", "Final", "Final", "Final", "Final",…
$ HOME_TEAM_ID     <dbl> 1610612748, 1610612745, 1610612743, 1610612738, 16106…
$ VISITOR_TEAM_ID  <dbl> 1610612754, 1610612760, 1610612740, 1610612753, 16106…
$ SEASON           <dbl> 2020, 2020, 2020, 2020, 2020, 2020, 2020, 2020, 2020,…
$ TEAM_ID_home     <dbl> 1610612748, 1610612745, 1610612743, 1610612738, 16106…
$ PTS_home         <dbl> 106, 112, 108, 112, 113, 116, 86, 100, 111, 92, 94, 1…
$ FG_PCT_home      <dbl> 0.402, 0.494, 0.500, 0.455, 0.489, 0.506, 0.390, 0.43…
$ FT_PCT_home      <dbl> 0.826, 0.741, 0.800, 1.000, 0.727, 0.750, 0.720, 0.56…
$ FG3_PCT_home     <dbl> 0.243, 0.368, 0.353, 0.426, 0.310, 0.515, 0.160, 0.45…
$ AST_home         <dbl> 27, 22, 30, 27, 24, 29, 20, 16, 30, 17, 18, 24, 25, 2…
$ REB_home         <dbl> 51, 38, 37, 45, 35, 54, 37, 44, 51, 33, 52, 51, 60, 4…
$ TEAM_ID_away     <dbl> 1610612754, 1610612760, 1610612740, 1610612753, 16106…
$ PTS_away         <dbl> 109, 114, 113, 96, 106, 105, 100, 101, 94, 132, 99, 1…
$ FG_PCT_away      <dbl> 0.388, 0.462, 0.482, 0.381, 0.532, 0.389, 0.463, 0.46…
$ FT_PCT_away      <dbl> 0.900, 0.680, 0.767, 0.700, 0.789, 0.842, 0.857, 0.60…
$ FG3_PCT_away     <dbl> 0.333, 0.333, 0.286, 0.324, 0.333, 0.326, 0.500, 0.44…
$ AST_away         <dbl> 27, 22, 26, 20, 24, 19, 26, 19, 20, 23, 26, 28, 23, 2…
$ REB_away         <dbl> 50, 52, 45, 44, 43, 37, 52, 44, 41, 52, 49, 34, 46, 4…
$ HOME_TEAM_WINS   <dbl> 0, 0, 0, 1, 1, 1, 0, 0, 1, 0, 0, 1, 1, 1, 1, 0, 0, 0,…

In [4]:
home_away_win <- games %>%
    select(PTS_home, PTS_away) %>%
    filter(!is.na(PTS_home)) %>%
    mutate(home_win = factor(if_else(PTS_home > PTS_away, "Sede", "Visitante"))) %>%
    count(home_win, name="Quantidade") %>%
    mutate(freq_relativa = (Quantidade/ sum(Quantidade))*100 )

glimpse(home_away_win)
home_away_win

Rows: 2
Columns: 3
$ home_win      <fct> Sede, Visitante
$ Quantidade    <int> 14269, 9827
$ freq_relativa <dbl> 59.2173, 40.7827

  home_win  Quantidade freq_relativa
1 Sede      14269      59.2173
2 Visitante  9827      40.7827

In [13]:


knitr::kable(home_away_win, col.names = c("Local", "Frequência Absoluta", "Frequência Relativa"), digits = 2, format.args = list(decimal=","), "simple")

Local        Frequência Absoluta   Frequência Relativa
----------  --------------------  --------------------
Sede                       14269                 59,22
Visitante                   9827                 40,78

In [4]:
games %>%
    select(PTS_home, PTS_away) %>%
    mutate(home_win = factor(if_else(PTS_home > PTS_away, "Sede", "Visitante"))) %>%
    summarytools::freq()

Variable(s) ignored: PTS_home, PTS_away

Frequencies
games$home_win
Type: Factor

                   Freq   % Valid   % Valid Cum.   % Total   % Total Cum.
--------------- ------- --------- -------------- --------- --------------
           Sede   14269     59.22          59.22     58.97          58.97
      Visitante    9827     40.78         100.00     40.62          99.59
           <NA>      99                               0.41         100.00
          Total   24195    100.00         100.00    100.00         100.00

In [20]:
teste <- games %>%
    select(HOME_TEAM_ID, VISITOR_TEAM_ID, HOME_TEAM_WINS) %>%
    mutate(HOME_TEAM_WINS = factor(HOME_TEAM_WINS, labels=c("Visitor", "Home")))

glimpse(teste)

summarytools::freq(teste)

Rows: 24,195
Columns: 3
$ HOME_TEAM_ID    <dbl> 1610612748, 1610612745, 1610612743, 1610612738, 161061…
$ VISITOR_TEAM_ID <dbl> 1610612754, 1610612760, 1610612740, 1610612753, 161061…
$ HOME_TEAM_WINS  <fct> Visitor, Visitor, Visitor, Home, Home, Home, Visitor, …

Variable(s) ignored: HOME_TEAM_ID, VISITOR_TEAM_ID

Frequencies
teste$HOME_TEAM_WINS
Type: Factor

                 Freq   % Valid   % Valid Cum.   % Total   % Total Cum.
------------- ------- --------- -------------- --------- --------------
      Visitor    9926     41.03          41.03     41.03          41.03
         Home   14269     58.97         100.00     58.97         100.00
         <NA>       0                               0.00         100.00
        Total   24195    100.00         100.00    100.00         100.00

In [12]:
teams_win <- games %>%
    mutate(
        FG_PCT=if_else(HOME_TEAM_WINS == 1, FG_PCT_home, FG_PCT_away),
        FT_PCT=if_else(HOME_TEAM_WINS == 1, FT_PCT_home, FT_PCT_away),
        FG3_PCT=if_else(HOME_TEAM_WINS == 1, FG3_PCT_home, FG3_PCT_away),
        AST=if_else(HOME_TEAM_WINS == 1, AST_home, AST_away),
        REB=if_else(HOME_TEAM_WINS == 1, REB_home, REB_away),
        
    ) %>%
    select(FG_PCT, FT_PCT, FG3_PCT, AST, REB, HOME_TEAM_WINS)

glimpse(teams_win)

#shapiro.test(teams_win$FG_PCT)
#qqPlot(my_data$FG_PCT)
#Coeficiente de Correlação
#rmat<-rcorr(as.matrix(surto_casos_cor), type = c("spearman"))


shapiro.test(sample(teams_win$FG_PCT, 5000)) # não normal
shapiro.test(sample(teams_win$FT_PCT, 5000)) # não normal
shapiro.test(sample(teams_win$FG3_PCT, 5000)) # não normal
shapiro.test(sample(teams_win$AST, 5000)) # não normal
shapiro.test(sample(teams_win$REB, 5000)) # não normal
shapiro.test(sample(teams_win$HOME_TEAM_WINS, 5000)) # não normal

Rows: 24,195
Columns: 6
$ FG_PCT         <dbl> 0.388, 0.462, 0.482, 0.455, 0.489, 0.506, 0.463, 0.463,…
$ FT_PCT         <dbl> 0.900, 0.680, 0.767, 1.000, 0.727, 0.750, 0.857, 0.609,…
$ FG3_PCT        <dbl> 0.333, 0.333, 0.286, 0.426, 0.310, 0.515, 0.500, 0.440,…
$ AST            <dbl> 27, 22, 26, 27, 24, 29, 26, 19, 30, 23, 26, 24, 25, 24,…
$ REB            <dbl> 50, 52, 45, 45, 35, 54, 52, 44, 51, 52, 49, 51, 60, 49,…
$ HOME_TEAM_WINS <dbl> 0, 0, 0, 1, 1, 1, 0, 0, 1, 0, 0, 1, 1, 1, 1, 0, 0, 0, 1…

	Shapiro-Wilk normality test

data:  sample(teams_win$FG_PCT, 5000)
W = 0.9987, p-value = 0.0004773

	Shapiro-Wilk normality test

data:  sample(teams_win$FT_PCT, 5000)
W = 0.9936, p-value = 3.795e-14

	Shapiro-Wilk normality test

data:  sample(teams_win$FG3_PCT, 5000)
W = 0.99543, p-value = 2.168e-11

	Shapiro-Wilk normality test

data:  sample(teams_win$AST, 5000)
W = 0.99459, p-value = 9.951e-13

	Shapiro-Wilk normality test

data:  sample(teams_win$REB, 5000)
W = 0.99537, p-value = 1.665e-11

	Shapiro-Wilk normality test

data:  sample(teams_win$HOME_TEAM_WINS, 5000)
W = 0.62326, p-value < 2.2e-16

In [13]:
cor.test(teams_win$FG_PCT, teams_win$FT_PCT,
        method = "spearman",
        conf.level=0.95)

Warning message in cor.test.default(teams_win$FG_PCT, teams_win$FT_PCT, method = "spearman", :
“Cannot compute exact p-value with ties”

	Spearman's rank correlation rho

data:  teams_win$FG_PCT and teams_win$FT_PCT
S = 2.3801e+12, p-value = 0.001301
alternative hypothesis: true rho is not equal to 0
sample estimates:
        rho
-0.02071539